.marryRegister{
    padding-top: 1.36rem;
}

.marryRegister .tab-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: #fff;
    font-size: 0.36rem;
    color: #4d4d4d;
}
.marryRegister .tab-btn .item{
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-bottom: 0.05rem solid #fff;
}
.marryRegister .tab-btn .item.active{
    color: #fe5d7f;
    border-bottom: 0.05rem solid #ff3e6b;
}