.mapPage{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.mapPage .searchWrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0.4rem;
    width: 100%;
    height: 1.4rem;
    background-color: #fd2754;
    z-index: 99999;
}
.mapPage .searchWrap input{
    box-sizing: border-box;
    padding: 0 0.5rem;
    width: 7rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.5rem;
}
#search-list{
    position: fixed;
    top: 1.4rem;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
    overflow-y: scroll;
}
#mapSearch{
    font-size: 0.4rem;
    color: #fff;
}
.mapPage .mapContainer{
    width: 100%;
    height: 100%;
    background-color: #fff;
}